/* Estilos generales para el encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

/* Ajustes responsivos para tablets */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        height: 40px;
    }
}

/* Ajustes responsivos para teléfonos móviles */
@media (max-width: 480px) {
    .header {
        padding: 5px;
    }

    .logo {
        height: 30px;
    }
}